body{
    background-color: black;
}


.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    margin-top: 10%;
  }
  
  .display {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  #result {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  